@use '../additional_styles/_color' as *;
@use '../additional_styles/_mixin' as *;

// additional styles 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after, *::before{
    display: block;
}
a{
    text-decoration: none;
    color: $c_black;
}
.empty{
    background: transparent !important;
}
.black{
    background: $c_black;
    border: 3px solid $c_black;
}
.blue{
    background: $c_blue;
    border: 3px solid $c_blue;
}

// main code 
body{
    display: grid;
    grid-template-columns: repeat(1, minmax(320px, 1440px));
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: $c_black;
}

.calendar{
    height: auto;
    margin: 20px;

    &-title{ font-size: 35px; }
    &-block{ width: 100%;}

    //! status block 
    .status{
        padding: 20px 0;  
        display: grid;
        grid-template-columns: 15% 25% 60%;

        &-item{           
            @include Flex(column, flex-start, flex-start);
            &:first-child{ padding-left: 20px;}
        }
        &__title{
            color: $c_gray;
            padding-bottom: 3px;
        }
        &__second-txt{
            cursor: pointer;
            @include Flex(row, normal, center);
            &::after{
                content: url('../img/arrrow.svg');
                transform: rotate(90deg);
                margin: 1px 0 0 10px;
            }            
        }
        & .types::before{
            content: '';
            width: 12px;
            height: 12px;
            background: $c_gray;
            border-radius: 50%;
            margin-right: 10px;
        }

        .link-show-events{
            margin-left: auto;
            justify-self: flex-end;
            @include Flex(row, center, center);

            .link__icon{
                display: block;
                background: url('../img/show-more.svg') no-repeat center;
                width: 30px;
                height: 30px;
                margin-right: 5px;
            }
        }
    }

    //! information block 
    .info{
        @include Flex(column, flex-start, flex-start);
        &-block{
            width: 100%;
            background: $c_main-fon;
            margin-bottom: 10px;
            border-radius: 5px;
        }
        &-title{
            padding: 15px 20px 10px 15px;
        }
        &-date{ color:$c_gray;}
        &-item{
            border-top:1px solid $c_border;
            font-size: 14px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            // grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
            justify-content: space-between;
            align-items: center;
        }
        .item{
            &>*{
                // border: 1px solid red;
                margin: 10px 15px;
            }            
            &-name{
                @include Flex(row, flex-start, center);
                & .name-circle{
                    display: block;
                    @include Circle();
                }
            }

            &-desc {
                @include Flex(row, flex-start, none);
                .desc__icon{
                    display: block;
                    background: url('../img/info-circle-gray.svg') no-repeat center;
                    width: 20px;
                    height: 20px;  
                    margin-left: 10px;
                    transition: background 0.3s ease;
                    cursor: pointer;
                    
                    &:hover{
                        background: url('../img/info-circle-black.svg') no-repeat center;
                    }
                }
            }
            
            &-date{ margin-left: auto;}
        }        
    }
    &-link{
        padding: 15px 0;
        width: 100%;
        border-radius: 5px;
        background: $c_main-fon;
        transition: background 0.5s ease;
        @include Flex(row, center, center);

        &__icon{
            display: block;
            background: url('../img/show-more.svg') no-repeat center;
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }
        &:hover{  background: #E8EBF3; }
    }
}
