* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after, *::before {
  display: block;
}

a {
  text-decoration: none;
  color: #17161C;
}

.empty {
  background: transparent !important;
}

.black {
  background: #17161C;
  border: 3px solid #17161C;
}

.blue {
  background: #11A3E5;
  border: 3px solid #11A3E5;
}

body {
  display: grid;
  grid-template-columns: repeat(1, minmax(320px, 1440px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  color: #17161C;
}

.calendar {
  height: auto;
  margin: 20px;
}
.calendar-title {
  font-size: 35px;
}
.calendar-block {
  width: 100%;
}
.calendar .status {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 15% 25% 60%;
}
.calendar .status-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.calendar .status-item:first-child {
  padding-left: 20px;
}
.calendar .status__title {
  color: #808BA3;
  padding-bottom: 3px;
}
.calendar .status__second-txt {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calendar .status__second-txt::after {
  content: url("../img/arrrow.svg");
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 1px 0 0 10px;
}
.calendar .status .types::before {
  content: "";
  width: 12px;
  height: 12px;
  background: #808BA3;
  border-radius: 50%;
  margin-right: 10px;
}
.calendar .status .link-show-events {
  margin-left: auto;
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calendar .status .link-show-events .link__icon {
  display: block;
  background: url("../img/show-more.svg") no-repeat center;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.calendar .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.calendar .info-block {
  width: 100%;
  background: #EEF0F5;
  margin-bottom: 10px;
  border-radius: 5px;
}
.calendar .info-title {
  padding: 15px 20px 10px 15px;
}
.calendar .info-date {
  color: #808BA3;
}
.calendar .info-item {
  border-top: 1px solid #E3E5F2;
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calendar .info .item > * {
  margin: 10px 15px;
}
.calendar .info .item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calendar .info .item-name .name-circle {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
}
.calendar .info .item-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}
.calendar .info .item-desc .desc__icon {
  display: block;
  background: url("../img/info-circle-gray.svg") no-repeat center;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  cursor: pointer;
}
.calendar .info .item-desc .desc__icon:hover {
  background: url("../img/info-circle-black.svg") no-repeat center;
}
.calendar .info .item-date {
  margin-left: auto;
}
.calendar-link {
  padding: 15px 0;
  width: 100%;
  border-radius: 5px;
  background: #EEF0F5;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calendar-link__icon {
  display: block;
  background: url("../img/show-more.svg") no-repeat center;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.calendar-link:hover {
  background: #E8EBF3;
}/*# sourceMappingURL=style.css.map */