@mixin Flex($dir, $just, $align){
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
}

@mixin Circle($border-color, $bg-fill){
    border: 3px solid $border-color;
    background: $bg-fill;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}